services:
  libreoffice:
    image: lscr.io/linuxserver/libreoffice:latest
    container_name: libreoffice
    security_opt:
      - seccomp:unconfined #optional
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /opt/appdata/libreoffice/config:/config
    ports:
      - 3010:3000
      - 3011:3001
    restart: unless-stopped
    
networks:
  default:
    external: true
    name: Apps-Network
