services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qBittorrent
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - WEBUI_PORT=8090
    volumes:
      - config:/config
      - downloads:/downloads
    ports:
      - 8090:8090
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped
    
networks:
  default:
    external: true
    name: Apps-Network

volumes:
  config:
  downloads:
