services:
  nextcloud:
    image: lscr.io/linuxserver/nextcloud:latest
    container_name: Nextcloud
    environment:
      - PUID=1000               # Process User ID
      - PGID=1000               # Process Group ID
      - TZ=Europe/Athens        # Timezone
    volumes:
      - /opt/appdata/nextcloud/config:/config     # Nextcloud configuration data
      - /media/volumes/nextcloud/data:/data
      - /media/storage/data:/data   # Mount from host system
      - /media/NFS-WD:/media/NFS-WD     # Another mount from host system
    ports:
      - 443:443              # Maps host port 443 to container port 443 for HTTPS
    depends_on:
      - mariadb              # Depends on the MariaDB service
    restart: unless-stopped  # Restart policy

  mariadb:
    image: lscr.io/linuxserver/mariadb:latest
    container_name: Nextcloud-db
    environment:
      - PUID=1000               # Process User ID
      - PGID=1000               # Process Group ID
      - TZ=Europe/Athens        # Timezone
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}   # MariaDB root password
      - MYSQL_DATABASE=${MYSQL_DATABASE}                # Database name
      - MYSQL_USER=${MYSQL_USER}                      # Database user
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}           # Database password
    volumes:
      - /opt/appdata/nextcloud_db/config:/config    # MariaDB configuration data
      - /opt/appdata/nextcloud_db/data:/data        # MariaDB data
    ports:
      - 3306:3306             # Maps host port 3306 to container port 3306 for MySQL
    restart: unless-stopped   # Restart policy

  code:
    image: collabora/code:latest  # Docker image to use for the service
    container_name: Nextcloud-office  # Name of the container
    restart: unless-stopped  # Restart policy: always (restart container automatically)
    environment:
      - password=${COLLABORA_PASSWORD}  # Set environment variable for password
      - username=${COLLABORA_USERNAME}  # Set environment variable for username
      - domain=${COLLABORA_DOMAIN}      # Set environment variable for domain
      - extra_params=--o:ssl.enable=true  # Additional parameters for collabora
    ports:
      - 9980:9980  # Map host port 9980 to container port 9980 for access

networks:
  default:
    external: true
    name: Apps-Network  # External network configuration named Apps-Network
